# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual env
venv/
.env/
.venv/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

mysite/settings.py
